/*BOTONES*/
.btn_menu{
	margin-right: 24px;
}
.button{

	&_act{
		@extend %inblock;
		height: 24px;
		padding: 10px 24px 10px 14px;
		margin: 6px;
		border:1px solid #404040;
		font-weight: 300;
		font-size:16px;
		color:#404040;
		text-decoration: none;
	}
	&_act:hover{
		background-color: #ffffff;
		cursor: pointer;
	}
	&_act_ico{
		@extend %inblock;
		padding: 10px;
	
	}
	&_act_ico:hover{
		background-color:#ffffff;
	}
	&_inact{
		@extend %inblock;
		height: 24px;
		padding: 10px 24px;
		border: 1px solid #aaaaaa;
		font-weight: 300;
		font-size:16px;
		color:#9b9c9e;
	}
	&_dwnld{
		@extend %inblock;
		padding: 10px 24px 10px 19px;
		background-color:#f83b3f;
		font-weight: 300;
		font-size:16px;
		color:#ffffff;
		vertical-align:center;
		align-self:center;
	}
	&_dwnld:hover{
		background-color: #000000;
		color:#ffffff;
		cursor:pointer;
		/* Cómo cambiar el color del svg */
	}
	&_lnk{
		@extend %inblock;
		height: 24px;
		padding: 10px 24px;
		background-color:#aadef5;
		font-weight: 300;
		font-size:16px;
		color:#404040;
		vertical-align:center;
		align-self:center;
	}
	&_lnk:hover{
		background-color:#ff9900;
		cursor:pointer
	}
	&_social{
		@extend %inblock;
		margin:6px 12px 0 0;
		cursor:pointer;

}/* Scss Document */
}
