/*COLORES*/
.col_text_100{
    background-color: #404040;
}
.col_text_75{
    background-color: #808080;
}
.col_text_50{
    background-color: #b3b3b3;
}
.col_nav_50{
    background-color: #ffefb3;
}
.col_nav_75{
    background-color: #ffe580;
}
.col_nav_100{
    background-color: #ffcc00;
}
.col_lnk_50{
    background-color: #aadef5;
}
.col_lnk_75{
    background-color: #1794cf;
}
.col_lnk_100{
    background-color: #106389;
}
.col_cal_100{
    background-color: #f83b3f;
}
.col_cal_75{
    background-color: #fb8486;
}
.col_cal_50{
    background-color:  #fdcece;
}/* Scss Document */

